h1{
    color: #2566ac;
    text-align: center;
    font-family: Papyrus;
}

.bodytext {
    text-align: center;
    align-items: center;
    font-family: Papyrus;
}

.buttonstyle {
    font-weight: bold;
    font-family: Papyrus;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the container */
    color: dodgerblue;
    font-family: Papyrus, Georgia, "Times New Roman";

}

