<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Drink water</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/gruppe1css/Gruppe1Styles.css" th:href="@{/css/Gruppe1Styles.css}" rel="stylesheet"/>
<!--<link href="../../public/css/projectname.css" th:href="@{/css/styles.css}" rel="stylesheet"/>-->

</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../gruppe1Public/gruppe1Images/DropOfWater.jpg" th:src="@{/gruppe1Public/gruppe1Images/DropOfWater.jpg}"/>
        </a>
    </header>
</div>

    <h1>Drink Water</h1>

    <p>Enter your water intake for today</p>

    <input type="text" onclick="showMessage()" name="water" placeholder="Enter water intake"/>

    <button type="submit">Are you on track?</button>

<script>
    function showMessage()
    {

    }
</script>



<!--</div>-->
</body>
</html>