<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Drink water</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/gruppe1css/Gruppe1Styles.css" th:href="@{/css/Gruppe1Styles.css}" rel="stylesheet"/>
<link rel="Stylesheet" href="../gruppe1Public/gruppe1css/Gruppe1Styles.css">
<!--<link href="../../public/css/projectname.css" th:href="@{/css/styles.css}" rel="stylesheet"/>-->

</head>

<body>

<div class="page">
    <header>
        <div class="flex-container">
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../gruppe1Public/gruppe1Images/DropOfWater.jpg" th:src="@{/gruppe1Public/gruppe1Images/DropOfWater.jpg}"/>
        </a>
        </div>
    </header>

    <h1>Drink Water</h1>

    <p class="bodytext">Enter your water intake for today</p>
<div class = "flex-container">
    <input class="bodytext" type="text" name="water" placeholder="Enter water intake"/>
<br/>
    <button class= "buttonstyle" type="submit" formaction="/waterIntakeMessage">Water intake</button>
</div></div>

<!--</div>-->
</body>
</html>