/* drinkstyles.css */

.page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container form {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 10px;
}

.search-container input[type="text"] {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

#results ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    width: 90%; / Adjust the width of the flex container /
    max-width: 800px; / Set a maximum width to prevent it from expanding too much /
    margin: 0 auto; / Center the flex container horizontally */
}

.drink-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.drink-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.drink-item button:hover {
    background-color: #0056b3;
}

.instructions {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.drink-item input[type="checkbox"] {
    display: none;
}

.drink-item .show-more {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.drink-item .instructions {
    display: none;
}

.drink-item input[type="checkbox"]:checked + .instructions {
    display: block;
}