body {
    background-color: #097a9d;
}

.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-table td, .task-table th {

.task-table td, .task-table th, .task-table tr {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;

}


.task-table tr:nth-child(even) {
    background-color: silver;
}
td:hover {
    background-color: #D6EEEE;
}

.toggle{
    display: none;
}

.toggle:hover{
    background-color: darkgreen;
}

.answer {
    display: none;
}


.answer::-ms-clear {
    display: none;
}

.checkbox:hover{
    background-color: darkgreen;
}

.question {
    display: none;
}

.question:hover {
    background-color: darkgreen;
}

.toggle:checked + label + .question {
    display: block;
}

.toggle:checked + label + .answer {
    display: block;

}

.task-table input[type="checkbox"]:checked::before {
    counter-increment: total-points;
}

#total-points::before {
    content: counter(total-points);
}

.team-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.team {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: silver;
    border-radius: 5px;
}

.team input[type="text"],
.team input[type="number" ] {
    width: 100%;
    margin-bottom: 10px;

}

.team:hover {
    background-color: darkgreen;
}