.headerlogo{
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    position: absolute; /* Position the logo absolutely */
    top: 10px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
}
.headerText{
    position: absolute;
    left:500px;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.flexbox-item{

    width: 1443px;
    border: 2px solid black;
    background-color: thistle;


}
/**************************************** FLEXBOX 1 ****************************************/


.flebox-item1, form button{
    height: 165px;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;

}
.search-form{
    display: flex;
    align-items: center;

}
.search-form input[type =text]{
    height: 50px;
    margin-right: 30px;
    padding: 50px 200px;
    font-size: 1.2rem;
}
.search-form button{
    height: 50px;
    padding: 50px 30px;
    font-size: 1.2rem;

}
/**************************************** FLEXBOX 2 ****************************************/

.flebox-item2{

    height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/**************************************** FLEXBOX 3 ****************************************/


.flebox-item3{

    height: 290px;

 }
.direct-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.direct-buttons button {
    margin: 10px; /* Adjust margin as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 15px;
}


.direct-buttons button:nth-child(2n) {
    align-self: flex-end;
}

.direct-buttons button:nth-child(3n) {
    align-self: center;
}

.direct-buttons button:nth-child(5n) {
    align-self: flex-end;
}

.direct-buttons button:nth-child(7n) {
    align-self: flex-start;
}

/* SEARCH RESULTS CSS*/
.page-body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.page-content {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

/*Header*/
.page-header {
    background-color: red;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    min-height: 200px;
    text-align: center!important;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    background-color: grey;
    width: 27vh;
    height: auto; /* or 100% */
    max-width: 27vh;
    min-width: 350px;
    max-height: 100%;
    margin: 0 auto;
}

/*Content*/
.display-all {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    flex-grow: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.display-single {
    background-color: darkslategrey;
    border: solid;
    width: 60%;
    height: 40vh;
    min-height: 400px;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.display-no-restaurants {
    text-align: center;
    font-size: 10vh;
    background-color: purple;
}

.display-img {
    background-color: white;
    width: 80vh;
    height: 20vh;
    max-width: 80%;
    max-height: 60%;
    min-height: 200px;
    min-width: 400px;
    margin-top: 50px;
}

.restaurant-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.restaurant-name {
    background-color: yellow;
    font-size: max(6vh, 50px);
    margin: auto;
}

.display-single:hover {
    filter: brightness(200%);
}


/*Footer*/
.page-footer {
    background-color: blue;
    flex-grow: 1;
    height: 5vh;
    max-height: 5vh;
    min-height: 60px;
    text-align: center;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.return-button {
    background-color: grey;
    width: 15vh;
    max-width: 15vh;
    min-width: 200px;
    height: 100%;
    margin: 0 auto;
    font-size: max(2.5vh, 25px);
}

.return-button:hover {
    background-color: brown;
}

@media screen and (max-width: 1000px) {
    .display-single {
        width: 100%;
    }
}








