.welcomeText{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    background-color: grey;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.direct-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.direct-buttons button {
    height: 150px;
    width: 200px;
    text-align: center !important;
    margin-top: 35px;
    padding: 20px;
    font-size: 20px;
    border-radius: 85px;

   }

.direct-buttons1 {
    margin: 10px 120px
}

.direct-buttons2 {
    margin: 10px 170px;
}







.tags-content {
    flex-grow: 2;
    background-color: blue;
}







/* SEARCH RESULTS CSS*/
.page-body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.page-content {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

/*Header*/
.page-header {
    background-color: red;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    min-height: 200px;
    text-align: center!important;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    background-color: grey;
    width: 27vh;
    height: auto; /* or 100% */
    max-width: 27vh;
    min-width: 350px;
    max-height: 100%;
    margin: 0 auto;
}

/*Content*/
.display-all {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    flex-grow: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.display-single {
    background-color: darkslategrey;
    width: 60%;
    height: 40vh;
    min-height: 400px;
    border: solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height: 100%;
}

.restaurant-img {
    background-color: white;
    width: 80vh;
    height: 20vh;
    max-width: 80%;
    max-height: 60%;
    min-height: 200px;
    min-width: 600px;
    margin-top: 50px;
}

.restaurant-name {
    background-color: yellow;
    font-size: max(6vh, 50px);
    margin: auto;
}

.display-single:hover {
    filter: brightness(200%);
}


/*Footer*/
.page-footer {
    background-color: blue;
    flex-grow: 1;
    height: 5vh;
    max-height: 5vh;
    min-height: 60px;
    text-align: center;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.return-button {
    background-color: grey;
    width: 15vh;
    max-width: 15vh;
    min-width: 200px;
    height: 100%;
    margin: 0 auto;
    font-size: max(2.5vh, 25px);
}

.return-button:hover {
    background-color: brown;
}

@media screen and (max-width: 1250px) {
    .display-single {
        width: 100%;
    }
}








