<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Eventlist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/myevent_eventlist.css" th:href="@{/css/myevent_eventlist.css}" rel="stylesheet"/>
</head>


<body>
<div th:replace="~{fragments :: header('Header fragment')}"></div>

<div class="page">
    <div class="top-buttons">
        <a class="left" th:href="@{/createitem}">Go to favorites</a>
        <a class="right" href="index.html" th:href="@{/}">Log out</a>
    </div>

    <h1>Future events:</h1>

    <form method="post">
        <table>
            <tbody>
            <tr class ="item-preview" th:each="item: ${events} " >
                <td>
                    <img class="item-img" th:src="${item.getLink()}">
                </td>
                <td class="item-info">
                    <h4 th:text="${item.getName()}">Title</h4>
                    <h2 th:text="${#temporals.format(item.getDate(), 'dd-MM-yyyy HH:mm')}">Date</h2>
                    <p><span th:text="${item.getResume()}">Resume</span></p>
                    <div>
                        <div class="read-btn" >
                            <button type="submit" name="id" th:value="${item.getId}" formaction="/event"><span>Read more</span></button>
                        </div>
                        <div class="heart-btn">
                            <input type="checkbox">
                            <button><span>Favorite</span></button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>


</div>
</body>
</html>
