<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>My Events</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/myevents-frontpage.css" th:href="@{/css/myevents-frontpage.css}" rel="stylesheet"/>
</head>

<body>

<div class="main-box">

    <img class="logo" alt="logo" src="/public/images/myeventsimages/myeventsLOGO.png"
         th:src="@{/images/myeventsimages/myeventsLOGO.png}"/>

    <form class="search-container" method="post">
        <div class="search-bar">
            <label>
                <input type="text" name="zipcode" placeholder="Enter your zipcode">
            </label>
            <button type="submit" formaction="/myevents/search"><i class="search-button"></i></button>
        </div>
        <div class="category-box">
            <p>Choose category: <br><br>
                <div  th:each="category: ${categories}">
                    <input type="checkbox" th:id="${category.getId()}" id="category_id" name="category" th:value="${category.getName()}" value="category_name">
                    <label th:for="${category.getId()}" for="category_id" th:text="${category.getName()}"></label><br>
                </div>
            </p>
        </div>
    </form>

    <div>
        <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
    </div>

    <div class="center">
        <a class="button" href="favorites.html" th:href="@{/myevents/favorites}"> My favorites</a>
        <span class="button" th:if="${session.currentUser != null}"> |  </span>
        <a class="button" th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">Log out</a>
    </div>
</div>

</body>
</html>