<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>My Events</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/myevents.css" th:href="@{/css/myevents.css}" rel="stylesheet"/>
</head>

<body>

<div class="main-box">

    <form class="search-container">
        <label>
            <input type="text" placeholder="Search" name="search">
        </label>
        <button type="submit" formaction="myevents/search"><i class="search-button"></i></button>
    </form>

    <div class="center">

        <a class="button" href="favorites.html" th:href="@{/myfavorites}">My favorites</a>
        <span class="button" th:if="${session.currentUser != null}"> |  </span>
        <a class="button" th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">Log out</a>
    </div>
</div>

</body>
</html>