<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page">
    <header>
        <form class="search-container" action="/search" method="post">
            <input type="text" name="ingredients" placeholder="Type ingredients...">
            <button type="submit">Search</button>
        </form>
        <main id="results"></main>
    </header>



    <div>
        <a th:if="${session.currentUser != null}" href="../timezones/index.html" th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>