<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>QuotesGenerator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/projectname.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <a href="../index.html" th:href="@{/}">
        <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
    </a>
</header>
<form method="post">
    <input type="text" name="quoteBody" placeholder="Enter your quote"/>


    <button type="submit" formaction="/createQuote">Create quote</button>

    <div><p th:text="${message}"></p></div>


</form>

</body>
</html>