<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>QuotesGenerator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/projectname.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
  <header>
    <a href="../index.html" th:href="@{/}">
      <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
    </a>
  </header>

  <h1>QuotesGenerator</h1>

  <section>
    <div><h2 th:text="${quote}"></h2></div>
    <div><h2 th:text="${newRandomQuote}"></h2></div>


    <form method="post">
      <button type="submit" formaction="/displayHappyQuotes">Happy Quotes</button>
      <button type="submit" formaction="/newQuote" >Give me a new quote motherfucker</button>
    </form>


    <a href="createQuote.html" th:href="@{/createQuote}">Create your own quote</a>

  </section>

  <h3></h3>
</div>
</body>
</html>