<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <h1 id="titel">Vælg titel
            <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        </h1>

        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
            <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        </a>
    </header>


    <form action="" method="post">

        <label for="behandling">Vælg en behandling:</label>
        <br>
        <select name="behandling" id="behandling">
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
        </select>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        <br><br>


            <label for="dato">Dato:</label>
            <input type="date" id="dato" name="dato">
            <button class="edit-buttons" th:if="${session.bookiBoysUser == null}" formaction="/gettimeslots">Se ledige tider⚙️</button>
            <br>
            <br><br>

        <div th:each="timeslot : ${taskList}" th:if="${!timeslot.booked}">
            <input type="radio" th:name="timeslot" th:value="${timeslot.time}" th:id="${timeslot.time}" />
            <label th:for="${timeslot.time}" th:text="${timeslot.time}">Time</label>
        </div>

        <!--
        <select name="timeslot" id="timeslot">
            <option value="08:30" th:if="${session.bookiBoysUser != null}">08:30</option>
            <option value="09:30">09:30</option>
            <option value="10:30">10:30</option>
            <option value="11:30">11:30</option>
            <option value="12:30">12:30</option>
            <option value="13:30">13:30</option>
            <option value="14:30">14:30</option>
            <option value="15:30">15:30</option>
            <option value="16:30">16:30</option>
        </select>


        <label for="behandler">Vælg en behandler:</label>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        <br>

        <select name="behandler" id="behandler">
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
        </select>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    -->
        <br><br>
        <label for="name">Navn:</label>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        <br>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="tlf">Telefon nummer:</label>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        <br>
        <input type="text" id="tlf" name="tlf">
        <br><br>
        <input type="submit" value="Book" formaction="/createbooking"><br><br>
        <div><p th:text="${message}"></p></div>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>

    </form>

</div>
</body>
</html>
