<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <h1 id="titel">Vælg titel<button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button></h1>

        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
            <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        </a>
    </header>


<form action="" method="post">

    <label for="behandling">Vælg en behandling:</label>
    <br>
    <select name="behandling" id="behandling">
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
    </select>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br><br>

    <label for="date">Dato:</label>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br>
    <input type="date" id="date" name="date">
    <br><br>

    <label for="time">Tidspunkt:</label>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br>
    <input type="time" id="time" name="time">
    <br><br>
    <label for="behandler">Vælg en behandler:</label>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br>

    <select name="behandler" id="behandler">
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
        <option value="eksempel">eksempel</option>
    </select>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>

    <br><br>
        <label for="name">Navn:</label>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br>
        <input type="text" id="name" name="name">
    <br><br>
        <label for="tlf">Telefon nummer:</label>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
    <br>
        <input type="text" id="tlf" name="tlf">
    <br><br>
        <input type="submit" value="Book" formaction="/createbooking"><br><br>
        <div><p th:text="${message}"></p></div>
    <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>

</form>

</div>
</body>
</html>
