<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>



<div class="page">
    <header>
        <h1 id="titel">www.LifeHacks.dk</h1>

        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>


    <form action="" method="post">
        <label for="behandling">Vælg en behandling:</label>
        <br>
        <select name="behandling" id="behandling">
            <option th:text="${behandling}" th:value="${behandling}">Behandling</option>
            <option value="Psykolog" >Psykolog</option>
            <option value="Kiropraktor">Kiropraktor</option>
            <option value="Fysioterapeut">Fysioterapeut</option>
            <option value="Life Coach">Life Coach</option>
            <option value="En til en yoga">En Til En Yoga</option>
            <option value="Osteopat">Osteopat</option>
            <option value="Massør">Massør</option>
            <option value="Ganja Meditation">Ganja Meditation</option>
        </select>
        <br><br>


        <label for="dato">Dato:</label>
        <input type="date" id="dato" name="dato" th:value="${dato}">
            <button class="edit-buttons" th:if="${session.bookiBoysUser == null}" formaction="/gettimeslots">Se ledige tider⚙️</button>
            <br>
            <br><br>

        <div th:each="timeslot : ${taskList}" th:if="${!timeslot.booked}">
            <input type="radio" th:name="timeslot" th:value="${timeslot.time}" th:id="${timeslot.time}" />
            <label th:for="${timeslot.time}" th:text="${timeslot.time}">Time</label>
        </div>

        <!--
        <label for="behandler">Vælg en behandler:</label>
        <button class="edit-buttons" th:if="${session.bookiBoysUser != null}">⚙️</button>
        <br>

        <select name="behandler" id="behandler">
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
            <option value="eksempel">eksempel</option>
        </select>

    -->

        <br><br>
        <label for="name">Navn:</label>
        <br>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="tlf">Telefon nummer:</label>
        <br>
        <input type="text" id="tlf" name="tlf">
        <br><br>
        <input type="submit" value="Book" formaction="/createbooking"><br><br>
        <div><p th:text="${message}"></p></div>

    </form>

</div>

<script>
    var today = new Date();
    var dd = today.getDate() +1;
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("dato").setAttribute("min", today);
</script>
</body>

</html>
