<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Results For Restaurants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/restaurantFinder.css" th:href="@{/css/restaurantFinder.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-body">
  <div class="page-content">
    <div class="page-header">
      <div class="logo">LOGO PICTURE</div>
    </div>
    <div th:if="${!#lists.isEmpty(allMatchingRestaurants)}">
        <div class="display-all" th:each="restaurant: ${allMatchingRestaurants}" >
          <a th:href="@{/restaurantFinder/restaurantchoice/{id}(id=${restaurant.getId()})}" class="display-single">

              <div class="display-img">
                <img class="restaurant-img"
                     th:src="@{/images/restaurantFinder/madbilleder/{name}.png(name=${restaurant.getPicName()})}"
                     th:alt="${restaurant.getName()}">
              </div>
              <div class="restaurant-name" th:text="${restaurant.getName()}"></div>

          </a>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(allMatchingRestaurants)}">
      <div class="display-all">
        <div class="display-no-restaurants">Ingen restauranter fundet</div>
      </div>
    </div>

    <div class="page-footer">
      <a class="button button1" th:href="@{/restaurantFinder}">Go Back</a>
    </div>
  </div>
</div>
</body>
</html>