<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<title>RestaurantFinder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="/public/css/restaurantFinder.css" th:href="@{/css/restaurantFinder.css}" rel="stylesheet"/>
</head>

<body>

<div class="page-body">
    <div class="page-content">

        <div class="page-header">
            <div class="headerlogo">
            </div>

        </div>
        <div class="tags-content">
            <div class="tags-content-image" style="background-image: url('/public/images/restaurantFinder/backgroundPicture.png')">
            <form method="post" th:action="@{/restaurantFinder/chosenCuisine}">
                <div class="welcomeText"> VELKOMMEN TIL RestaurantFinder</div>

                <div class="direct-buttons">
                    <div class="direct-buttons2">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Indisk">Indisk</button>
                    </div>

                    <div class="direct-buttons1">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Koreansk">Koreansk
                        </button>
                    </div>

                    <div class="direct-buttons1">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Thai">Thai</button>
                    </div>

                    <div class="direct-buttons2">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Japansk">Japansk
                        </button>
                    </div>

                    <div class="direct-buttons2">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Italiensk">Italiensk
                        </button>
                    </div>

                    <div class="direct-buttons1">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Mexicansk">Mexicansk
                        </button>
                    </div>

                    <div class="direct-buttons1">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Vietnamesisk">
                            Vietnamesisk
                        </button>
                    </div>

                    <div class="direct-buttons2">
                        <button class="button button1" type="submit" name="chosenCuisine" value="Amerikansk">
                            Amerikansk
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!--
<a href="../index.html" th:href="@{/}">
    <img class="headerlogo" alt="logo" src="/public/images/restaurantFinder/restaurantFinderLogo.png"
         th:src="@{/images/restaurantFinder/restaurantFinderLogo.png}"/>
</a>
-->

</body>
</html>