<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>RestaurantFinder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="/public/css/restaurantFinder.css" th:href="@{/css/restaurantFinder.css}" rel="stylesheet"/>
</head>

<body>
<div class="flexbox-container">
    <div class="flexbox-item flebox-item1 ">
        <h1 class="headerText">
            Velkommen til Restaurant Finder!
        </h1>
    </div>
    <div class="flexbox-item flebox-item2 ">
        <form  class="search-form" method="post">
            <input type="text" name="seach" placeholder="Seach for a cusine"/>
            <button type="submit">Søg</button>
        </form>
    </div>
    <div class="flexbox-item flebox-item3 ">
        <form method="post" th:action="@{/restaurantFinder/chosenCuisine}">
            <div class="direct-buttons">
            <button type="submit" name="chosenCuisine" value="Indisk">Indisk</button>
            <button type="submit" name="chosenCuisine" value="Koreansk">Koreansk</button>
            <button type="submit" name="chosenCuisine" value="Thai">Thai</button>
            <button type="submit" name="chosenCuisine" value="Japansk">Japansk</button>
            <button type="submit" name="chosenCuisine" value="Italiensk">Italiensk</button>
            <button type="submit" name="chosenCuisine" value="Mexicansk">Mexicansk</button>
            <button type="submit" name="chosenCuisine" value="Vietnamesisk">Vietnamesisk</button>
            <button type="submit" name="chosenCuisine" value="Amerikansk">Amerikansk</button>
            </div>
        </form>
    </div>
</div>
<a href="../index.html" th:href="@{/}">
    <img class="headerlogo" alt="logo" src="/public/images/restaurantFinder/restaurantFinderLogo.png"
         th:src="@{/images/restaurantFinder/restaurantFinderLogo.png}"/>
</a>

</body>
</html>