<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Projectname</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/unitconverter.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<head> </head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <input type="text" name="username" placeholder="Enter your username"/>

    Select a tour package*:
    <select name="cars">
        <option value="Volvo">Time</option>
        <option value="VW">Volume</option>
        <option value="Nissan">Weight</option>
        <option value="VW">Distance</option>
        <option value="Nissan">Area</option>
    </select>
    <br>

</div>
</body>
</html>