<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Jeopardy.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/jeopardy.css" th:href="@{/css/jeopardy.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/Jeopardy/steveharvey.jpg" th:src="@{/images/Jeopardy/steveharvey.jpg}"/>
        </a>
    </header>

    <h1>Velkommen til Jeopardy!</h1>

    <tr>
        <td>
            <form action="/jeopardy/create" method="post">
                <button type="submit" name="create">Create your own Jeopardy.</button>
            </form>
            <br><br>
            <a href="/templates/jeopardy/join.html" th:href="@{/join}">

                Join an existing one.
            </a>
        </td>
    </tr>


</div>
</body>
</html>