<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Jeopardy.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/jeopardy.css" th:href="@{/css/jeopardy.css}" rel="stylesheet"/>
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1 class="body">SHALOM!</h1>
</head>
<body>
<div class="page">


    <table class="task-table">
        <thead>
        <tr>
            <th>Movies & Tv Shows</th>
            <th>Music</th>
            <th>Brands</th>
            <th>Celebrities</th>
            <th>Food</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <input type="checkbox" id="question1" class="toggle"/>
                <label for="question1">100</label>
                <div class="question">
                    <input type="checkbox" id="answer1" class="toggle"/>
                    <label for="answer1">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>

        <tr>
            <td>200</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>

        <tr>
            <td>300</td>
            <td>300</td>
            <td>300</td>
            <td>300</td>
            <td>300</td>
        </tr>

        <tr>
            <td>400</td>
            <td>400</td>
            <td>400</td>
            <td>400</td>
            <td>400</td>
        </tr>

        <tr>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>