<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Jeopardy.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/jeopardy.css" th:href="@{/css/jeopardy.css}" rel="stylesheet"/>
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1 class="body">SHALOM!</h1>
</head>
<body>

<div class="page">
    <table class="task-table">
        <thead>
        <tr>
            <th>Movies & <br>Tv Shows</th>
            <th>Music</th>
            <th>Brands</th>
            <th>Celebrities</th>
            <th>Food</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <input type="checkbox" id="question1" class="toggle"/>
                <label for="question1">100</label>
                <div class="question">
                    <input type="checkbox" id="answer1" class="toggle"/>
                    <label for="answer1">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>

            <td>
                <input type="checkbox" id="question2" class="toggle"/>
                <label for="question2">100</label>
                <div class="question">
                    <input type="checkbox" id="answer2" class="toggle"/>
                    <label for="answer2">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>

            <td>
                <input type="checkbox" id="question3" class="toggle"/>
                <label for="question3">100</label>
                <div class="question">
                    <input type="checkbox" id="answer3" class="toggle"/>
                    <label for="answer3">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>

            <td>
                <input type="checkbox" id="question4" class="toggle"/>
                <label for="question4">100</label>
                <div class="question">
                    <input type="checkbox" id="answer4" class="toggle"/>
                    <label for="answer4">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>

            <td>
                <input type="checkbox" id="question5" class="toggle"/>
                <label for="question5">100</label>
                <div class="question">
                    <input type="checkbox" id="answer5" class="toggle"/>
                    <label for="answer5">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="question6" class="toggle"/>
                <label for="question6">200</label>
                <div class="question">
                    <input type="checkbox" id="answer6" class="toggle"/>
                    <label for="answer6">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question7" class="toggle"/>
                <label for="question7">200</label>
                <div class="question">
                    <input type="checkbox" id="answer7" class="toggle"/>
                    <label for="answer7">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question8" class="toggle"/>
                <label for="question8">200</label>
                <div class="question">
                    <input type="checkbox" id="answer8" class="toggle"/>
                    <label for="answer8">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question9" class="toggle"/>
                <label for="question9">200</label>
                <div class="question">
                    <input type="checkbox" id="answer9" class="toggle"/>
                    <label for="answer9">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question10" class="toggle"/>
                <label for="question10">200</label>
                <div class="question">
                    <input type="checkbox" id="answer10" class="toggle"/>
                    <label for="answer10">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="question11" class="toggle"/>
                <label for="question11">300</label>
                <div class="question">
                    <input type="checkbox" id="answer11" class="toggle"/>
                    <label for="answer11">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question12" class="toggle"/>
                <label for="question12">300</label>
                <div class="question">
                    <input type="checkbox" id="answer12" class="toggle"/>
                    <label for="answer12">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question13" class="toggle"/>
                <label for="question13">300</label>
                <div class="question">
                    <input type="checkbox" id="answer13" class="toggle"/>
                    <label for="answer13">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question14" class="toggle"/>
                <label for="question14">300</label>
                <div class="question">
                    <input type="checkbox" id="answer14" class="toggle"/>
                    <label for="answer14">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question15" class="toggle"/>
                <label for="question15">300</label>
                <div class="question">
                    <input type="checkbox" id="answer15" class="toggle"/>
                    <label for="answer15">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="question16" class="toggle"/>
                <label for="question16">400</label>
                <div class="question">
                    <input type="checkbox" id="answer16" class="toggle"/>
                    <label for="answer16">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question17" class="toggle"/>
                <label for="question17">400</label>
                <div class="question">
                    <input type="checkbox" id="answer17" class="toggle"/>
                    <label for="answer17">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question18" class="toggle"/>
                <label for="question18">400</label>
                <div class="question">
                    <input type="checkbox" id="answer18" class="toggle"/>
                    <label for="answer18">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question19" class="toggle"/>
                <label for="question19">400</label>
                <div class="question">
                    <input type="checkbox" id="answer19" class="toggle"/>
                    <label for="answer19">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question20" class="toggle"/>
                <label for="question20">400</label>
                <div class="question">
                    <input type="checkbox" id="answer20" class="toggle"/>
                    <label for="answer20">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="question21" class="toggle"/>
                <label for="question21">500</label>
                <div class="question">
                    <input type="checkbox" id="answer21" class="toggle"/>
                    <label for="answer21">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question22" class="toggle"/>
                <label for="question22">500</label>
                <div class="question">
                    <input type="checkbox" id="answer22" class="toggle"/>
                    <label for="answer22">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question23" class="toggle"/>
                <label for="question23">500</label>
                <div class="question">
                    <input type="checkbox" id="answer23" class="toggle"/>
                    <label for="answer23">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question24" class="toggle"/>
                <label for="question24">500</label>
                <div class="question">
                    <input type="checkbox" id="answer24" class="toggle"/>
                    <label for="answer24">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" id="question25" class="toggle"/>
                <label for="question25">500</label>
                <div class="question">
                    <input type="checkbox" id="answer25" class="toggle"/>
                    <label for="answer25">Question</label>
                    <div class="answer">
                        answer
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="team-container">
        <!-- Teams will be dynamically generated here -->
        <div class="team">
            <input type="text" placeholder="Team 1 Name">
            <input type="number" placeholder="Points">
        </div>
        <div class="team">
            <input type="text" placeholder="Team 2 Name">
            <input type="number" placeholder="Points">
        </div>

</body>
</html>

